*,*::before,*::after{
    box-sizing: border-box;
}
body{
    background : url("../ressources/images/corona.png") center center / cover no-repeat;
    padding: 64px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    color: #ffff;
    height: 100vh;
    flex-wrap: wrap;
    justify-content: space-between;
}
/*style génériques*/
ul,li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.content{
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
}
.title{
    margin-bottom: 16px;
}
.caption{
    margin-bottom: 32px;
}
.call_to_action{
    padding: 16px 64px 16px 16px;
    border-radius: 16px;
    outline: none;
    cursor: pointer;
    border: 1px solid black;
    background-color: #ffff;
}
.slides_preview{
    margin: 64px 0;
    display: flex;
    justify-content: space-between;
}
.slides_preview .thumb{
    min-width: 148px;
    height: 148px;
    margin-right: 32px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
}
.thumb:nth-child(1){
    background: url("../ressources/images/man-hands-people-woman.png") center center / cover no-repeat;
}
.thumb .background{
    background-color: gray;
}
.thumb .show{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    visibility: hidden;
}
.slides_preview .show{
    /*rien pour l'instant*/
}
.social_networks{
    display: flex;
}
.social_networks .link{
    width: 64px;
    height: 64px;
    border-radius: 100%;
    background-color: gray;
    margin-left: 32px;
    padding: 0;
}
.copyright{
    display: none;
}
